<!-- Full Width Column -->
<div class="content-wrapper" style="overflow:hidden;height:100%">
  <div class="container">
    <!-- Main content -->
    <section class="content">                          
          <div class="row">
            <div class="col-sm-9">
              <div class="box box-warning direct-chat direct-chat-warning">
              <div class="box-header with-border">
                <h3 class="box-title">Chat Room</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool mobile" id="imgFiles" data-widget="" ngf-select ng-model="imageFiles" ngf-accept="validateImage($file)" title="select image"><i class="fa fa-photo"></i></button>
                  <button class="btn btn-box-tool mobile" data-toggle="" title="" ngf-select ng-model="musicFiles" ngf-accept="validateMP3($file)"><i class="fa fa-headphones"></i></button>
                  <button class="btn btn-box-tool mobile" data-widget="" ngf-select ng-model="PDFFiles" ngf-accept="validatePDF($file)"><i class="fa fa-file-word-o"></i></button>
                  <button class="btn btn-box-tool mobile toggle-contact-icon" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Contacts" ng-click="toggleCustom()"><i class="fa fa-comments"></i></button>
                </div>
              </div><!-- /.box-header -->
              <div class="box-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages" schroll-bottom="messeges">
                  <!-- Message. Default to the left -->
                  <div ng-repeat="messege in messeges" ng-class="{'direct-chat-msg' : true, 'right' : messege.ownMsg, 'wordwrap' : true}" >
                    <div class='direct-chat-info clearfix'>
                      <span class='direct-chat-name pull-left'>{{ messege.username }}</span>
                      <span class='direct-chat-timestamp pull-right'>{{ messege.msgTime }}</span>
                    </div><!-- /.direct-chat-info -->
                    <img class="direct-chat-img" ng-src="app/css/dist/img/{{messege.userAvatar}}" alt="message user image" /><!-- /.direct-chat-img -->
                    <div ng-class="{'direct-chat-text' : true, 'text-right' : messege.ownMsg}">
                      <div ng-hide="hasFile">{{ messege.msg }}</div>
                      <!-- {{ messege.sendfile }} Media File Messeges -->
                      <div class="item" ng-show="messege.hasFile">
                          <div class="attachment clearfix">
                          <!-- Image File Open -->
                            <p ng-class="{'filename' : true,'chat-msg' : true}" ng-show="messege.isImageFile">
                              
                              <a href ng-click="openClickImage(messege)" ng-show="messege.showme" >
                              <img id="{{messege.dwid}}" width="50" height="50" ng-src="{{messege.dwimgsrc}}" alt="Open Image">
                              <br/><small class="desc-text" ng-show="!messege.ownMsg">{{ messege.filename}} ({{messege.size}})</small>
                              </a><!-- Open Icon -->
                              
                              <a ng-href="{{messege.imgsrc}}" data-lightbox="{{messege.dwid}}" data-title="{{messege.filename}}" ng-hide="messege.showme">
                                <img ng-class="{'multiple-borders-white' : messege.ownMsg,'multiple-borders-black' : !messege.ownMsg}" id="{{messege.dwid+1}}" width="90" height="70" ng-src="{{messege.imgsrc}}" alt="Image File"> <!-- Image -->
                              </a>
                            </p> <!-- Image File Close -->


                            <!-- Audio File Open -->
                            <p ng-class="{'filename' : true, 'chat-msg' : true}" ng-show="messege.isMusicFile">
                              <a href ng-click="openClickMusic(messege)">
                                <img id="{{messege.dwid}}" width="45" height="45" ng-src="{{messege.dwimgsrc}}" alt="Music File">
                                <br/><small class="decs-text" ng-show="messege.showme">{{ messege.filename}} ({{messege.size}})</small>

                              </a>
                              <!-- <a ng-show="messege.showme" href="{{ messege.serverfilename }}"  download="{{ messege.filename }}"><i class="fa fa-download" ng-class="{'dw-left' : messege.ownMsg, 'dw-right' : !messege.ownMsg}"></i></a> -->
                            </p><!-- Audio File Close -->

                            <!-- PDF File Open -->
                            <p ng-class="{'filename' : true, 'chat-msg' : true}" ng-show="messege.isPDFFile">
                              <a href ng-click="openClickPDF(messege)">
                                <img id="{{messege.dwid}}" width="45" height="45" ng-src="{{messege.dwimgsrc}}" alt="PDF File">
                                <br/><small class="decs-text" ng-show="messege.showme">{{ messege.filename}} ({{messege.size}})</small>
                              </a>
                            </p><!-- Doc file Close -->
                          </div><!-- /.attachment -->
                      </div><!-- /.item-->
                    </div><!-- /.direct-chat-text -->
                  </div><!-- /.direct-chat-msg -->
                </div><!--/.direct-chat-messages-->

                <div id="slidememberlist" class="slideout_inner">
                    <!-- Contacts are loaded here -->
                    <div>
                    <div class="direct-chat-messages ol-members">
                      <ul class='contacts-list'>
                        <li ng-repeat="user in users">
                          <a href>
                            <img class='contacts-list-img' ng-src='app/css/dist/img/{{user.userAvatar}}'/>
                            <div class='contacts-list-info'>
                                <span class="ol-memeber-name" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{ user.username }}</span>
                            </div><!-- /.contacts-list-info -->
                          </a>
                        </li><!-- End Contact Item -->
                      </ul><!-- /.contatcts-list -->
                    </div><!--/.direct-chat-messages-->
                  </div>
                </div>

                <div class="chat-box"></div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <div class="box-tools pull-right desktop">
                  <!-- image select angularjs -->
                  <button class="btn btn-warning btn-flat" id="imgFiles" data-widget="" ngf-select ng-model="imageFiles" ngf-accept="validateImage($file)"><i class="fa fa-photo"></i></button>
                  <!-- music file select angularjs -->
                  <button class="btn btn-warning btn-flat" data-toggle="" title="" ngf-select ng-model="musicFiles" ngf-accept="validateMP3($file)"><i class="fa fa-headphones"></i></button>
                  <!-- doc file select angularjs -->
                  <button class="btn btn-warning btn-flat" data-widget="" ngf-select ng-model="PDFFiles" ngf-accept="validatePDF($file)"><i class="fa fa-file-word-o"></i></button>
                </div>
                <form action="#" method="post">
                  <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." ng-class="{'form-control': true, 'has-error':isMsgBoxEmpty}" ng-model="chatMsg" ng-change="isMsgBoxEmpty=false" ng-enter="sendMsg()" ng-focus="setFocus" focus-me="setFocus"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-warning btn-flat" ng-click="sendMsg()">Send</button>
                    </span>
                  </div>
                </form>
              </div><!-- /.box-footer-->
              </div><!-- /.box -->
            </div>
            
            <div class="col-sm-3 toggle-contact-list">
              <div class="box box-warning direct-chat direct-chat-warning">  
              <div class="box-header with-border">
                <h3 class="box-title">Online Members</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <!-- Contacts are loaded here -->
                <div class="direct-chat-messages ol-members">
                  <ul class='contacts-list'>
                    <li ng-repeat="user in users">
                      <a href>
                        <img class='contacts-list-img' ng-src='app/css/dist/img/{{user.userAvatar}}'/>
                        <div class='contacts-list-info'>
                            <span class="ol-memeber-name" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{ user.username }}</span>
                        </div><!-- /.contacts-list-info -->
                      </a>
                    </li><!-- End Contact Item -->
                  </ul><!-- /.contatcts-list -->
                </div><!--/.direct-chat-messages-->
              </div><!-- /.box-body -->
                <div class="box-footer">
                  <p class="text-center"> </p>
              </div><!-- /.box-footer-->                  
            </div><!-- /.box -->
          </div>       
      </div>
    </section><!-- /.content -->
  </div><!-- /.container -->
</div><!-- /.content-wrapper -->


