    <!-- <div class="wrapper"> -->

      <!-- Full Width Column -->
      <div class="content-wrapper">
        <div class="container">

          <!-- Main content -->
          <section class="content">
                                
                <div class="row">
                  <div class="col-md-9">
                    <div class="box box-warning direct-chat direct-chat-warning">
                    <div class="box-header with-border">
                      <h3 class="box-title">Chat Room</h3>
                      
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <!-- Conversations are loaded here -->
                      <div class="direct-chat-messages" schroll-bottom="messeges">               

                        <!-- Message. Default to the left -->
                        <div ng-repeat="messege in messeges" ng-class="{'direct-chat-msg' : true, 'right' : messege.ownMsg, 'clearfix' : true}" >
                          <div class='direct-chat-info clearfix'>
                            <span class='direct-chat-name pull-left'>{{ messege.username }}</span>
                            <span class='direct-chat-timestamp pull-right'>{{ messege.msgTime }}</span>
                          </div><!-- /.direct-chat-info -->
                          <img class="direct-chat-img" ng-src="app/css/dist/img/{{messege.userAvatar}}" alt="message user image" /><!-- /.direct-chat-img -->
                          <div ng-class="{'direct-chat-text' : true, 'text-right' : messege.ownMsg}">
                            {{ messege.msg }}
                            <!-- {{ messege.sendfile }} -->
                            <div class="item">
                                <div class="attachment clearfix">
                                <p></p>
                                  <p class="filename">
                                    <img width="150" height="100" ng-src="data:image/jpg;base64,{{messege.sendfile}}">
                                  </p>
                                  <!-- <div class="pull-right">
                                    <button class="btn btn-primary btn-sm btn-flat">Open</button>
                                  </div> -->
                                </div><!-- /.attachment -->
                            </div><!-- /.item-->
                          </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->


                      </div><!--/.direct-chat-messages-->


                      <!-- Contacts are loaded here -->
                      <div class="direct-chat-contacts">
                        <ul class='contacts-list'>
                          <li ng-repeat="user in users">
                            <a href='#'>
                              <img class='contacts-list-img' ng-src='app/css/dist/img/{{user.userAvatar}}'/>
                              <div class='contacts-list-info'>
                                <!-- <span class='contacts-list-name'> -->
                                  <span class="ol-memeber-name" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{ user.username }}</span>
                                  
                                <!-- </span> -->
                              </div><!-- /.contacts-list-info -->
                            </a>
                          </li><!-- End Contact Item -->
                        </ul><!-- /.contatcts-list -->
                      </div><!-- /.direct-chat-pane -->
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                      <div class="box-tools pull-right">
                        <!-- <input type="file" id="image"/> -->
                        <button class="btn btn-warning btn-flat" data-widget="" ngf-select ng-model="files"><i class="fa fa-photo"></i></button>
                        <button class="btn btn-warning btn-flat" data-toggle="" title="" data-widget=""><i class="fa fa-film"></i></button>
                        <button class="btn btn-warning btn-flat" data-widget=""><i class="fa fa-file-word-o"></i></button>
                      </div>
                      <form action="#" method="post">
                        <div class="input-group">
                          <input type="text" name="message" placeholder="Type Message ..." ng-class="{'form-control': true, 'has-error':isMsgBoxEmpty}" ng-model="chatMsg" ng-change="isMsgBoxEmpty=false" ng-enter="sendMsg()" ng-focus="setFocus"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-warning btn-flat" ng-click="sendMsg()">Send</button>
                          </span>
                        </div>
                      </form>
                    </div><!-- /.box-footer-->
                    </div><!-- /.box -->
                  </div>
                  <div class="col-md-3">
                    <div class="box box-warning direct-chat direct-chat-warning">  
                    <div class="box-header with-border">
                      <h3 class="box-title">Online Members</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <!-- Conversations are loaded here -->
                      <div class="direct-chat-messages ol-members">
                        <ul class='contacts-list'>
                          <li ng-repeat="user in users">
                            <a href='#'>
                              <img class='contacts-list-img' ng-src='app/css/dist/img/{{user.userAvatar}}'/>
                              <div class='contacts-list-info'>
                                <!-- <span class='contacts-list-name'> -->
                                  <span class="ol-memeber-name" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{ user.username }}</span>
                                  
                                <!-- </span> -->
                              </div><!-- /.contacts-list-info -->
                            </a>
                          </li><!-- End Contact Item -->
                        </ul><!-- /.contatcts-list -->
                      </div><!--/.direct-chat-messages-->
                    </div><!-- /.box-body -->
                      <div class="box-footer">
                        <p class="text-center"> </p>
                    </div><!-- /.box-footer-->                  
                  </div><!-- /.box -->
                </div>
                      
            
          </section><!-- /.content -->
        </div><!-- /.container -->
      </div><!-- /.content-wrapper -->
<!--       <footer class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
          </div>
          <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved. -->
        <!-- </div>/.container -->
      <!-- </footer> -->
   <!--  </div>./wrapper -->